@charset "utf-8";
/* 아카이브 CSS - main.css */

html{
    scroll-behavior: smooth;
    /* #아이디명 스크롤 이동시 부드럽게 애니메이션 이동함 */
    font-size: 10px;
}

/* 상단영역 */
#top {
    position: fixed;
    width: 100%;
    /* 판타롱스타킹 이므로 100%로 가로폭 확장. */
    height: 300px;
    top: 0;
    left: 0;
    z-index: 9999999;
}
html,
body {
    height: 100%;
    margin: 0;
    padding: 0;
    /* 보이는 화면에 기준하여 높이값을 설정함
    -> 직계 하위 자식요소가 높이값을 %로 설정할때 
    body가 기준이 된다.  */
}
body {
    /* padding-top: 50px; */
    overflow: hidden;
}
/* ul초기화 */
ul,ol {
    padding: 0;
    margin: 0;
    list-style: none;
}
.gnb {
    width: 700px;
    /* 마영오를 줄때 위쓰가 있어야됨 마진이 들어갈 값이 있어야됨 */
    margin: 0 auto;
}
.gnb li {
    float: left;
    text-align: center;
    width: 150px; 
}
.gnb ul::after {
    content: "";
    display: block;
    clear: both;
}
.gnb a{
    text-decoration: none;
    color: brown;
    font-weight: bold;
    font-size: 1.5rem;
}
.part a{
    text-decoration: none;
    color: cornflowerblue;
    font-weight: bold;
    font-size: 3.5rem;
}
/* GNB셋팅 */
.gnb{
    white-space: nowrap;
}
/* pg1 - 공통프로젝트 아이콘 */
#pg1 .part a::before{
    content: '✡';
    margin-right: 10px;
}
/*페이지박스 : div 블록박스*/
.mybx {
    width: 100%;
    height: 100%;
    /* 배경이미지 넣기 bgi*/
    background-image: url(../imgs/worksbg.jpg);
    /* 배경반복여부 bgr 반복안함(no-repeat)*/
    background-repeat: no-repeat;
    /* 배경고정 bga - 고정의 기준은 보이는 화면*/
    background-attachment: fixed;
    /* 배경위치:bgp */
    background-position: center;
    /* 배경 크기 : 채우기 (cover) bgz*/
    background-size: cover;
}
/* 두번째 페이지박스 배경변경 */
.mbx2 {
    background-image: url(../bg_mainvisual.jpg);
}

/* 페이지별 컨텐츠 박스 */
.pwrap {
    background: rgba(255, 255, 255, 0.295);
    border-radius: 20px;
    /* 가로중앙 
    마영오 마진 영 오토*/
    margin: 0 auto;
    /* 양쪽 마진이 auto이면 양쪽을 등분해서 가로 중앙이된다*/
    
    /* 부모높이값 보다 300px만큼 조금더 그 크기를 뺀 높이값은
    calc()로 계산한다. */
    height: calc(100% - 350px);
    position: relative;
    top: 300px;
    display: flex;
}

/*h1요소*/
.tit {
    /*기본마진없앰*/
    margin: 0;
    /*패딩*/
    padding: 20px;
    /*글자중앙*/
    text-align: center;
    font-size: 2rem;
}
.part{
    flex: 1;
    padding: 50px;
}
/* 서브타이틀 */
.part h2{
    background-color: rgba(0, 0, 0, 0.432);
    padding: 20px;
    border-radius: 20px;
    color: #fff;
    font-size: 4rem;
    text-align: center;
    text-shadow: 2px 2px 2px #000;
}

