@charset "utf-8";
/* vidswipe 모듈용 CSS - vidswipe.css*/

.tit{
    text-align: left;
    font-size: 36px;
}
/* 비디오화면 */
.playvid{
    /* display: none; */
    position: absolute;
    max-width: 1140px;
    border: none;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    z-index: 99;
    width: 80%;
    aspect-ratio: 16/9;
}
/* 비디오박스 (검정배경)*/
.vidbx{
    display: none;
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 99999;
    background-color: rgba(0,0,0,0.3);
}
.playvid iframe{
    width: 100%;
    height: 100%;
    border: none;
}
/* 닫기버튼 */
.cbtn{
    position: absolute;
    top: 3%;
    right: 0%;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    border: 1px solid white;
    color: white;
    background-color: transparent;
    font-size: 15px;
    cursor: pointer;
}
.cbtn:hover{
    background-color: white;
    color: black;
}
.ifrtit{
    color: white;
    font-size: 30px;
}

