@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond&family=Montserrat:wght@400;500&family=Yusei+Magic&display=swap');
/* 
font-family: 'Cormorant Garamond', serif;
font-family: 'Montserrat', sans-serif;
font-family: 'Yusei Magic', sans-serif; */
html{
    font-size: 1vw
}
html, body,ul{
    margin: 0;
    padding: 0;
    font-family: 'Cormorant Garamond', serif;
    
}

/* svg요소 공통 */
.cbx svg{
    width: 100%;
    height: 100%;
}

.wrap{
    /* 플렉스박스 */
    display: flex;
    /* 플렉스 랩핑박스 */
    flex-wrap: wrap;
    width: 100vw;
    height: 100vh;
}
.wrap>section {
    /* 렐러티브 부모자격 */
    position: relative;
    /* 가로, 세로 등분할 채우기 */
    flex: 1;
    /* 한줄에 2개씩 */
    flex-basis: 50%;
}
/* 컨텐츠 박스 */
.cbx{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    /* 정중앙이동 */
    width: 300px;
    height: 300px;
    /* outline: 2px dotted blue; */
}
.svg2{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);

}

/* 사각형 */
.rt1{
    /* 배경색 */
    fill: rgba(0, 0, 255, 0.014);
    /* 선색 - 기본은 안나옴 */
    stroke: black;
    /* 선두께 - 기본은 1px 
    단위안쓰면 기본적으로 px
    선두께는 선중앙으로부터 생김*/
    stroke-width: 20;
    /* 선끝처리 : stroke-linecap 
        1) butt : 끝에 중심선이 보임(기본값)
        2) square : 끝에 사각형으로 덮음
        3) round : 끝에 둥근모양으로 덮음
    */
    stroke-linecap: butt;

    /* [데쉬선 속성 : stroke-dasharray ]
    - 선,공백 순으로 데쉬선 셋팅함
    -> 50%를 써본다!
    -> 6조각 이니까 6배한다!
    50% * 6 = 300%
    
    */
    stroke-dasharray: 500;

    /* [데쉬어레이 시작위치밀기 : stroke-dashoffset ]
    stroke-dashoffset값을
    stroke-dasharray값과 같은
    값을 주면 공백부터 시작함!
    */
    stroke-dashoffset: 500;

    /* stroke-dasharray: 100%; */
    /* stroke-dashoffset: 102%; */
    /* 트랜지션:속시이지 */
    transition: stroke-dashoffset .8s ease-in-out;
}
.svg2:hover .rt1{
    stroke-dashoffset: 0;
}







