@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond&family=Montserrat:wght@400;500&family=Yusei+Magic&display=swap');
/* 
font-family: 'Cormorant Garamond', serif;
font-family: 'Montserrat', sans-serif;
font-family: 'Yusei Magic', sans-serif; */
html{
    font-size: 1vw
}
html, body,ul{
    margin: 0;
    padding: 0;
    font-family: 'Cormorant Garamond', serif;
    
}
.container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    border: 2px solid;
  }
  
  .inline-block {
    display: inline-block;
    padding: .6rem;
    width: 50px;
    height: 30px;
  }
  .inline-block:first-child {
    display: block;
  }
  
  .nav {
    flex: 1;
    width: 100%;
    height: 80px;
    border: 2px solid;
    margin-bottom: 5px;
  }
  
  .sidebar {
    flex: 1;
    height: 1000px;
    min-width: 220px;
  }
  
  .long-text {
    min-height: 200vh;
    background: #eee;
    flex: 1;
  }
  
  .static {
    position: static;
    background: orange;
  }
  
  .fixed {
    position: fixed;
    top: 99px;
    left: 155px;
    background: pink;
  }
  
  .sticky {
    position: -webkit-sticky;
    position: sticky;
    top: 3%;
    background: #8a4baf;
  }

