@charset "utf-8";

/* Robot PJ 메인 CSS - robot.css */

/* 웹폰트 CDN */
@import url('https://fonts.googleapis.com/css2?family=Barlow&family=Black+Ops+One&family=Chakra+Petch&family=Orbitron:wght@500&display=swap');
/* 
    font-family: 'Barlow', sans-serif;
    font-family: 'Black Ops One', cursive;
    font-family: 'Chakra Petch', sans-serif;
    font-family: 'Orbitron', sans-serif;
*/
/* 전체부드러운스크롤 */
html{
    scroll-behavior: smooth;
}
/* 전체가로스크롤 방지 */
html,body{
    overflow-x: hidden;
}
/* 초기화 */
html, body,h1,h2,p,ol,ul,li{
    margin: 0;
    padding: 0;
}

/***************** 공통 클래스 *****************/
/* 메탈소재1 배경 */
.mt1{
    background: url(../images/metal01.jpg) no-repeat center/cover;
}
/* 메탈소재2 배경 */
.mt2{
    background: url(../images/metal02.jpg) no-repeat center/cover;
}

body{
    background: url(../images/bg.jpg) no-repeat fixed top/cover;
}
/* 공사중표시 */
body *{
    /* outline: 2px dashed yellow; */
}

/******************* 1. 상단영역 *****************/

/* 1-1. 로고 */
.logo{
    position: fixed;
    top: calc(50% - 102px);
    left: calc(50% - 102px);
    /* 
        [ 앱솔루트/픽스드 포지션 정중앙보이기 ]
        1. calc() 로 계산하기
        -> top: calc(50% - 박스의 높이값절반px);
           left: calc(50% - 박스의 가로값절반px);

        2. 위치값 50%이동후 트랜스폼 사용하기
        -> top: 50%; left: 50%
            transform: translate(-50%,-50%);
    */
    /* 크기확대하기 */
    transform: scale(2);
    z-index: 1;
    width: 200px;
    height: 200px;
    /* 글자셋팅 */
    color: aqua;
    /* font: 스두크/줄체; */
    font: 45px/200px 'Orbitron';
    text-shadow: 2px 2px 5px #000;
    /* 박스셋팅 */
    background: pink url(../images/robot_03.png) no-repeat center
    10px/160px;
    /* background-position: center 10px; */
    /* background-size: 160px auto */

    /* 박스그림자 */
    box-shadow: 
    inset 0 0 20px 5px #000,
    0 0 20px 5px rgb(170, 55, 55);

    border: 2px solid #ccc;
    border-radius: 50%;
    text-align: center;
}
/* 1-2. 링크타이틀 */
.link{
    position: absolute;
    top: 100px;
    right: 50px;
}
.link a{
    /* a요소 필수셋팅: 글자색+밑줄없앰 */
    color: lawngreen;
    text-decoration: none;
    /* 글자: 스두크/줄체 */
    font: 50px 'Black Ops One';
    /* 글자그림자 */
    text-shadow: 2px 2px 2px #000;
}
/* 마우스오버시 */
.link a:hover{
    /* 글자색 */
    color: orangered;
    /* 글자데코 */
    text-decoration: overline;
    /* 글자데코스타일 */
    text-decoration-style: wavy;
}
/* 1-3. 탑이동버튼 */
.btnTop{
    position: fixed;
    bottom: 50px;
    right: 50px;
    /* 박스셋팅 */
    width: 100px;
    height: 100px;
    border-radius: 50%;
    border: 5px outset #fff;
    background-color: #ccc;
}
.btnTop a{
    text-decoration: none;
    display: block;
    width: 100%;
    height: 100%;
    /* 글자셋팅 */
    color: blue;
    font: 30px/90px 'Black Ops One';
    /* 
        line-height가 높이값인 100px이므로 
        중앙정렬위해 100px이 아닌이유는?
        버튼은 기본적으로 box-sizing:border-box이므로
        패딩과 보더가 내부에 포함된다.
        따라서 컨텐트 영역이 그만큼작아진다.
        박스보더가 5px이므로 양쪽합이 10px
        이것을 빼서 90px로 설정
    */
}
/* 버튼마우스오버시 */
.btnTop:hover{
    background-color: #ff0;
    border-style: inset;
}
/* a요소글자색  */
.btnTop:hover a{
    color: red;
}
/******************************* 2. 메인영역 *******************************/
/* 2-1. 로봇박스 */
.robx{
    /* 패딩 위,아래 */
    padding: 200px 0 50px ;
}
/* 로봇머리 */
.head{
    position: relative;
    /* 부모자격 - 하위 div들 */
    width: 250px;
    height: 190px;
    /* 마영오 */
    margin: 0 auto;
    /* 턱깎기 */
    /* border-radius: 0 0 50% 50%; */
    /* clip-path: polygon(0 0,0 50%, 30% 100%,60% 100%, 100% 50%, 100% 0 ); */
    
}
/* 로봇머리 직계하위 div는 모두 앱솔루트 */
.head>div{
    position: absolute;
}
/* 로봇머리에 가상요소로 머리털박스 만들기 */
.head::before {
    content: '';
    display: block;
    position: absolute;
    top: -80px;
    left: -128px;
    width: 500px;
    height: 415px;
    background: url(../images/가발.png) no-repeat 0/100% 100%;
    z-index: 9999999;
}
/* 머리박스에 오버시 가상요소 가발변경하기 */
.head:hover::before{
    top: -50px;
    left: 0px;
    width: 250px;
    height: 100px;
    border-radius: 50% 50% 0 0;
    background-image: none;
    background-color: peachpuff;
    z-index: 9;
}
/* 머리박스 가상요소로 턱만들기 */
.head::after{
    content: '';
    display: block;
    position: absolute;
    width: 250px;
    height: 100px;
    background: url(../images/metal01.jpg) no-repeat bottom/100%;
    /* 부모박스 높이만큼 밀어준다 */
    top: 100%;
    z-index: -1;
    clip-path: polygon(0 0,33% 85%, 40% 90%,55% 90%, 66% 80%, 80% 55%, 100% 0);
    /* 박스그림자 */
}

/* 눈공통 */
.eye{
    width: 70px;
    height: 50px;

    /* 배경공통 */
    background-color: #fff;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100%;

    /* 둥근모서리 50% 원  */
    /* border-radius: 50%; */
    /* 보더 이중선: double */
    border: 4px double #000;
}
/* 입 옆에 별모양점 가상요소로 만들기 */
.mouth::before,.mouth::after{
    content: '';
    display: block;
    position: absolute;
    width: 20px;
    height: 20px;
    background-color: #000;
    /* 부모는 .mouth */
    top: -25px;
    right: -10px;

    /* 삼각형 클리핑 속성으로 만들기 */
    clip-path: polygon(0 100%, 50% 0, 100% 100%);
}
.mouth::after{
    transform: rotate(180deg) translateY(-30%);
}
/* 
    [ CSS 클리핑 속성 ]
    -> clip-path : poligon(x1 y1, x2 y2, ...)
    -> 각 좌표쌍은 띄어쓰기로 각 점은 콤마로 구분
    -> 각 점을 연결하여 도형모양만 출력한다
    -> px은 각 도형 크기 내부의 수치로 쓰고
    %는 도형을 기준한 위치를 %로 나타낸다
*/
/* 귀공통 */
.ear{
    width: 30px;
    height: 70px;
    top: 20%;
}
/* 왼눈 */
.e1{
    top: 65px;
    left: 30px;
    background-image: url(../images/e1.jpg);
    border-radius: 10% 40% 20% 50%;
}
/* 오른눈 */
.e2{
    top: 65px;
    right: 30px;
    background-image: url(../images/e2.jpg);
    border-radius: 40% 10% 50% 20%;
}
/* 코 */
.nose{
    width: 60px;
    height: 70px;
    position: absolute;
    background: url(../images/nose.jpg) no-repeat 0/110% 100%;
    top: 130px;
    left: calc(50% - 30px);
    border-radius: 30px;
}
/* 입 */
.mouth{
    width: 120px;
    height: 50px;
    position: absolute;
    background: url(../images/mouth.png) no-repeat 0/100% 100%;
    top: 220px;
    left: calc(50% - 60px);
}
/* 왼귀 */
.er1{
    left: -30px;
    border-radius: 10px 0 0 50px;
}
/* 오른귀 */
.er2{
    right: -30px;
    border-radius: 0 10px 50px 0;
    z-index: 999999;
}

/* ***************로봇몸통*************** */
.body{
    /* 부모자격 */
    position: relative;
    width: 200px;
    height: 450px;
    margin: 120px auto 0;
}
/* 몸통 가상요소로 상단만들기 */
.body::before{
    content: '';
    position: absolute;
    width: 400px;
    height: 200px;
    background-color: white;
    left: -100px;
    /* 그라데이션 */
    background-image: linear-gradient(35deg,#ccc,#727272,#bbb,#616161,#aaa,#515151);
    clip-path: polygon(0 0,100% 0,75% 75%, 50% 100%,25% 75%);
    z-index: 33;
    /* display: none; */
}  


/* 몸통 가상요소로 하단만들기 */
.body::after{
    content: '';
    position: absolute;
    width: 400px;
    height: 150px;
    background-color: white;
    left: -100px;
    bottom: 0;
    background-image: linear-gradient(-35deg,#ccc,#727272,#bbb,#818181,#cbc);
    clip-path: polygon(20% 30% ,30% 0, 70% 0%,80% 30%, 90% 100%, 10% 100%);
}


/* 몸통하위 직계 div모두 absolute */
.body>div{
    position: absolute;
}
/* 목 */
.neck{
    width: 50px;
    height: 28px;
    top: -30px;
    left: 75px;
    z-index: -999;
}
/* 팔공통 */
.arm{
    width: 50px;
    height: 200px;
    border-radius: 15px;
    transform-origin: center 10%;
}
/* 팔공통 가상요소 연결부분 */
.arm::before,
.arm::after{
    content: '';
    display: block;
    position: absolute;
    width: 55px;
    height: 55px;
    background-color: #ccc;
    
    border-radius: 50%;
    border: 3px solid #666;
    box-sizing: border-box;
    bottom: -30px;
    z-index: 3;
}
/* 연결부분 내부박스 */
.arm::after{
    transform: scale(.7);
    /* 선형 그라데이션 */
    background-image: linear-gradient(-45deg,#505050 10%, #eee 60%,#ccc)
}
/* 팔하단 */
.arm span{
    position: absolute;
    top: 100%;
    display: block;
    width: 40px;
    height: 180px;
    border-radius: 15px;
    /* 회전축변경 : 가로중앙 세로 10%*/
    transform-origin: center 10%;
}
/* 팔하단 가상요소로 손박스 만들기 */
.arm span::after{
    content: '';
    display: block;
    position: absolute;
    width: 70px;
    height: 100px;
    /* outline: 3px dashed lime; */
    bottom: -100px;
    
}
/* 왼쪽손 배경이미지 */
.a1 span::after{
    background: url(../images/hand_left.png) no-repeat bottom/100%;
    left: -10px;
    /* transform: rotate(10deg); */
}
/* 오른쪽손 배경이미지 */
.a2 span::after{
    background: url(../images/hand_right.png) no-repeat bottom/100%;
    right: -10px;
}
/* 왼팔 */
.a1{
    left: -125px;
    transform: rotate(11deg);
}
/* 왼팔하단 */
.a1 span{
    transform: rotate(341deg);
}
/* 오른팔 */
.a2{
    right: -125px;
    z-index: 2;
    transform: rotate(348deg);
}
/* 오른팔하단 */
.a2 span{
    transform: rotate(20deg);
}
/* 다리공통 */
.leg{
    width: 50px;
    height: 250px;
    border-radius: 15px;
    transform-origin: center 10%;
    /* 부모박스의 높이만큼 아래로 밀어냄 */
    top: 90%;
}
/* 다리공통 가상요소로 연결부분 만들기 */
.leg::before,
.leg::after{
    content: '';
    display: block;
    position: absolute;
    width: 55px;
    height: 55px;
    left: -3px;
    /* 트랜스폼 : 먼저 x축 축소하고 회전
    -> 무엇은 먼저했느냐에 따라 결과달라짐 서순차이 */
    transform:scaleX(.8) rotate(45deg);
    border: 3px solid #333;
    border-radius: 20px;
    bottom: -40px;
    background-color: #ccc;
    z-index: 1;
}
/* 연결부분 내부박스 */
.leg::after{
    transform: scale(0.5, 0.8) rotate(45deg);
    z-index: 3;
    /* 선형 그라데이션 */
    background-image: linear-gradient(-45deg,#505050 10%, #eee 60%,#ccc)
}
/* 다리하단 공통 */
.leg span{
        position: absolute;
        top: 100%;
        left: 2.5px;
        width: 45px;
        height: 200px;
        border-radius: 15px;
        transform-origin: center 10%;
        z-index: -1;
}
/* 다리하단 가상요소로 발만들기 */
.leg span::after{
    content: '';
    display: block;
    position: absolute;
    width: 70px;
    height: 40px;
    bottom: -50px;
    left: -15px;
    border-radius: 20px 20px 0 0;
    background-image: linear-gradient(-45deg,#333333 10%, #eee 60%,#ccc);
    border: 3px solid #222;
    border-bottom: 20px solid #222;
}
/* 다리하단 가상요소로 부츠만들기 */
.leg span::before{
    content: '';
    display: block;
    position: absolute;
    width: 50px;
    height: 100px;
    background-image: linear-gradient(-45deg,#333333 10%, #eee 60%,#ccc);
    top: 90px;
    left: -2px;
    border: 2px solid #222;
    border-top: 20px solid #222;
    border-radius: 15px 75px 0 0;
    clip-path: polygon();
}
/* 왼다리 */
.l1{
    left: 10px;
}
/* 오른다리 */
.l2{
    right: 10px;
}
/* 어깨공통 */
.shd{
    width: 80px;
    height: 80px;
    transform: rotate(45deg);
}
/* 왼어꺠 */
.s1{
    left: -140px;
    top: -37px;
    z-index: 222;
}
/* 오른어꺠 */
.s2{
    right: -140px;
    top: -37px;
    z-index: 222;
}

/* tv */
.tv{
    top: 20px;
    left: 10px;
    width: 180px;
    height: 130px;
    background: url(../images/tv.jpg) no-repeat center/cover;
    z-index: 88;
    border-radius: 10px;
    overflow: hidden;
}
/* 스크린 */
.screen {
    position: absolute;
    top: 9px;
    left: 7px;
    width: 132px;
    height: 107px;
    background-color: black;
    border-radius: 15px;
    overflow: hidden;
    z-index: 11;
}

/* 동영상 iframe */
.screen iframe {
    position: absolute;
    top: -77px;
    left: 1px;
    width: 131px;
    height: 257px;
    border: none;
}


 /* 2-2. ***********로봇설명박스*************  */
.dcbx{
    /* 최대가로크기 maw */
    max-width: 800px;
    margin: 0 auto;
    /* 하단공간 */
    margin-bottom: 200px;
    /* 반투명배경색 */
    background-color: rgba(0, 0, 0, 0.486);
    /* 글자색흰색 */
    color: #fff;
    /* 글자그림자 */
    text-shadow: 1px 1px 1px #000;
    /* 안쪽여백 */
    padding: 15px 30px;
    /* 경계선 : 두종색 */
    border: 3px solid #fff;
    /* 둥근모서리 */
    border-radius: 20px;
    /* 박스그림자를 글로우효과 */
    box-shadow: 
    inset 0 0 20px blue,
    inset 0 0 50px 10px cyan;
    /* inset은 내부그림자 옵션
        x y [spread] blur 색
        -spread는 박스그림자 크기 
    */

}

 /* 2-2-1.제목  */
 .dcbx h2{
    /* sticky 포지션 */
    position: sticky;
    top: 20px;
    /* 글자설정 */
    font-family: 'Chakra Petch', sans-serif;
    font-size: 35px;
    color: lime;
    /* 박스셋팅 */
    text-align: center;
    background-color: rgba(255, 255, 255, 0.507);
    /* 둥근모서리 */
    border-radius: 20px;
 }
 /* 2-2-2.출처  */
 .dcbx small{
    /* 글자셋팅 */
    font-family: 'Chakra Petch', sans-serif;
    font-size: 12px;
    line-height: 3;
    color: #ff0;
    /* 박스셋팅 */
    display: block;
    text-align: center;
 }
 /* 2-2-3.내용단락  */
.dcbx p{
    /* 글자셋팅 */
    font-family: 'Barlow', sans-serif;
    font-size: 15px;
    line-height: 1.8;
    letter-spacing: 1px;
    word-spacing: 2px;

    /* 
        [ 다단 설정하기 ] 
        - 다중열속성
        -> column-count : 다중열개수
        -> column-rule : 다중열구분선
        -> column-gap : 다중열사이간격
    */
    /* 다중열개수 */
    column-count: 3;
    /* 다중열구분선 두께 종류 색상 */
    column-rule: 5px dotted lightgreen ;
    /* 다중열사이간격 */
    column-gap: 55px;
    /* 양쪽정렬 : taj */
    text-align: justify;
    /* 단어깨기  */
    word-break: break-all;
    /* 1byte문자인 영문자일경우 기본적으로 단어 단위로
    줄바꿈하는 셋팅이 되어 있다. 이때 양쪽정렬시 
    중간에 큰공백이 생기는 원인이 된다.
    그래서 단어를 글자단위로 모두깨주는 설정이 
    word-break: break-all; 이다.
    한글과 같은 2byte문자는 자동으로 깨져있어서 안해도됨 */

    /* 들여쓰기 : ti */
    text-indent: 20px;
}
/* 설명문단 첫번째 글자만 가상요소로 글자디자인 변경하기 */
.dcbx p::first-letter{
    font-size: 30px;
    font-weight: bold;
    color: orange;
}

/****************** 3. 하단영역 *******************/
#info{
    /* 글자셋팅 */
    color: #fff;
    font: 30px 'Black Ops One';
    text-shadow: 2px 2px 2px #000;
    /* 박스셋팅 */
    background-color: rgba(0, 0, 0, 0.466);
    padding: 50px;
    text-align: center;
}
/* 속박스 가상요소로 아이콘모양넣기 */
.info::before{
    content: '';
    display: inline-block;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    border: 2px solid #ccc;
    background: pink url(../images/robot_03.png) no-repeat;
    background-position: -15px -8px;
    background-size: 67px;
    /* 인라인요소간 세로정렬 */
    vertical-align: top;
}