@charset "utf-8";
/* CGV PJ 메인 페이지 CSS - main.css */

/* 외부 공통 CSS 합치기 */
@import url(./reset.css);
@import url(./core.css);


/* 공사중 표시 */
/* body * {
    outline: 1px dashed ghostwhite;
} */

/* 전체배경색 */
body{
    background-color: #000;
}

/**************** 1.상단영역 ****************/
/* 속박스 */
.top{
    position: relative;
    /* 부모자격 - .gnb */
    z-index: 999;
    /* GNB서브메뉴를 올리기위한 설정! */
    height: 80px;
    /* 배경이미지 */
    background: url(../images/curtain.jpg) repeat-x;
}
/* 1-1.로고 */
.tit{
    font-family: 'Jua', sans-serif;
    color: aquamarine;
    font-size: 40px;
    line-height: 80px;
    text-align: center;

    /* 글로우 효과 */
    text-shadow: 0 0 4px aquamarine;

    /* 애니메이션: 이시이지반방마 */
    animation: titAni .5s ease-in infinite alternate;
    
}
/* 타이틀 글로우 효과 애니메이션 키프레임 */
@keyframes titAni {
    to{
        text-shadow: 0 0 12px aquamarine;
    }
} /* 키프레임 */

/* 1-2.GNB메뉴 */
.gnb{
    position: absolute;
    bottom: 10px;
    right: 10px;
    height: 50%;
}
/* ul박스 */
.gnb ul{
    display: flex;
    font-family: 'Jua', sans-serif;
}
/* 상위li */
.gnb ul>li{
    position: relative;
    /* 부모자격 : .smenu */
    padding-bottom: 5px;
    /* 서브메뉴와 공간연결을 위해 하단패딩을줌 */
}
/* 상위li 두번째부터 */
.gnb ul>li+li{
    margin-left: 20px;
}
/* 상위메뉴 a */
.gnb ul>li>a{
    display: inline-block;
    font-size: 2rem;/* 20px */
    transition: .3s;
}
/* 오버시변경 */
.gnb ul>li:hover>a{
    color: aquamarine;
    transform: scale(1.2);
    animation: titAni .5s ease-in infinite alternate;
}

/* 서브메뉴 */
.smenu{
    position: absolute;
    /* 부모박스 가로방향 중앙맞추기 */
    left: 50%;
    /* 부모는? .gnb ul>li */
    transform: translate(-50%,5px);
    /* x축은 자기크기의 
    50%만큼 왼쪽이동, y축은 5px이동 */
    width: 140px;
    padding: 3px;
    background: url(../images/bg_smenu.png) no-repeat center/cover;
    border-radius: 5px;
    box-shadow: 0 0 5px #fff;

    /* 처음에 서브메뉴 숨기기 */
    display: none;
}
/* 상위메뉴 li오버시 서브메뉴 보이기 */
.gnb ul>li:hover .smenu{
    display: block;
}



/* 메뉴박스 가상요소로 삼각형 만들기 */
.smenu::before{
    content: '';
    display: block;
    position: absolute;
    top: -10px;
    left: 50%;
    transform: translateX(-50%);
    width: 0;
    height: 0;

    /* 삼각형만들기:보더사용 */
    border-bottom: 10px solid #313131;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;

}
/* 서브메뉴 ol */
.smenu ol{
    border: 1px solid #ccc;
    padding: 10px;
}
/* 서브메뉴 a */
.smenu a{
    display: block;
    /* a요소확장 */
    font-size: 1.6rem;
    line-height: 1.7;
}
/* 서브마우스 오버시 */
.smenu a:hover{
    color: red;
}
/* 오버시 가상요소로 이모티콘 */
.smenu a:hover::after{
    content: '🎃';
    /* 오른쪽 끝으로 보내기 */
    float: right;
}
.gnb ul>li:nth-child(2)
.smenu a:hover::after{
    content: '💚';
}

/* 서브메뉴 사이구분선 클래스 */
.bdt{
    border-top: 1px solid #ccc;
}

/* 영사기 박스 */
#cam{
    position: absolute;
    right: -60px;
    bottom: 0px;
}
/* 영사기 이미지 */
#cam img{
    width: 50px;
    position: relative;
    /* 영사기가 위 */
    z-index: 1;
    transition: .5s ease-out ;
    transform: rotate(35deg);
}
.gnb:hover #cam img{
    transform: rotate(0deg);
}
.gnb:hover .beam{
    /* 이시이지반방마 */
    width: 200px;
    transition-delay: .5s;
    animation: beam .00004s linear infinite alternate;
}

@keyframes beam {
    to{
        opacity: .5;
    }
}
.beam{
    position: absolute;
    top: -16px;
    right: 11px;
    width: 0;/*200px*/
    height: 70px;
    background: url(../images/bim.png) no-repeat;
    background-position: right center;
    background-size: auto 100%;
    transition: .1s;
    z-index: -1;
    /* outline: 2px dotted lime; */
}

/* 1-3. 찾아오는길 애니박스 */
.anibx{
    position: absolute;
    top: 0;
    left: 0;
    /* 부모는 .top */
    width: 144px;
    height: 80px;
    /* 나간글자숨기기 */
    perspective: 40vh;
}
/* 극장가는길 타이틀박스 */
.anibx>span{
    /* 커튼 대문역할 */
    position: absolute;
    /* 변경속성 초기값 설정 */
    top: 0;
    z-index: 1;
    font-family: 'Cute Font', cursive;
    color: #fff;
    width: 144px;
    height: 80px;
    display: block;
    line-height: 80px;
    text-align: center;
    font-size: 20px;
    overflow: hidden;
    white-space: nowrap;
    /* 줄바꿈 방지 */
    /*배경이미지 넣기 */
    background: url(../images/curtain.jpg) no-repeat;
    /* 애니메이션 이시이지반방마 */
    animation: anibxani 3s cubic-bezier(0.9, -0.93, 0.2, 1.8) infinite;
    transition: top .4s ease-in-out .2s;
    cursor: pointer;

}
/* 마우스오버시+클래스 "on" 추가시 보이기 */
.anibx:hover span,
.anibx.on span{
    top: -100%;
    /* top은 기본값이 auto이므로 
    애니메이션 하려면 탑값을 조정해놔야함 */
    outline: 1px solid aqua;
}

/* 타이틀 애니 키프레임 */
@keyframes anibxani {
    0%{
        text-indent: 0;
    }
    30%{
        text-indent: 0;
    }
    /* 50~70% 오른쪽으로 나감 */
    50%{
        text-indent: 250px;
    }
    70%{
        text-indent: 250px;
    }
    70.1%{
        text-indent: -250px;
    }
    /* 80~100% 왼쪽에서 들어옴 */
    80%{
        text-indent: -250px;
    }
    100%{
        text-indent: 0;
    }

} /* 키프레임 */


/* 샐애니 */
.cellAni{
    position: absolute;
    top: 0;
    left: 0;
    width: 144px;
    height: 80px;

    /* 배경넣기 */
    background:url(../images/street.jpg) repeat-x;
    background-size: auto 100%;

    /* 애니메이션: 이시이지반방마 */
    animation: street 4s linear infinite;
    
}


/* 키프레임 */
/* 스크린배경이동 키프레임 */
@keyframes street {
    to{
        background-position: -136px 0;
    }
}
/* 3-1.걷는존 */
.spani1{
    position: relative;
    width: 30%;
    height: 100%;
    margin: 0 auto;
    background: url(../images/spAni03.png) no-repeat;
    background-size: auto 100%;
    /* outline: 3px solid red; */

    /* 애니메이션: 이시이지반방마 */
    animation: spani1 1s steps(8) infinite;
}
/* 걷는존 키프레임 */
@keyframes spani1 {
    to{
        background-position: -362px 0;
    }
    /* 배경이미지 x축 이동일 경우 
    줄였을때 이미지 전체 가로크기를 마이너스 값으로 써주면된다. */
}
/* 키프레임 */

/* 3-2.꼬마 */
.spani2{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 20px;
    height: 29px;
    background: url(../images/KakaoTalk_20230213_121554270.png) no-repeat;
    background-size: 200px;
    /* 애니메이션: 이시이지반방마 */
    animation: spani2 2s steps(10) infinite;
}
/* 꼬마 키프레임 */
/* 키프레임 */
@keyframes spani2 {
    to{
        background-position: -200px 0;
    }
}
/* 3-3.몬스터 */
.spani3{
    position: absolute;
    bottom: 0;
    right: 0;
    width: 40px;
    height: 40px;
    background: url(../images/spAni02.png) no-repeat;
    background-size: 240px;

    /* 애니메이션 : 이시이지반방마 */
    animation: spani3X 1s steps(6) infinite,
     spani3Y 3s steps(3) infinite;
     /* x축은 6장면을 1초간 작동
        y축은 3줄을 3초간 작동 */
}
/* 몬스터 키프레임 X축 */
@keyframes spani3X {
    to{
        background-position-x: -240px;
    }
    /* x축은 가로크기를 마이너스로 씀 */
}
/* 몬스터 키프레임 Y축 */
@keyframes spani3Y {
    to{
        background-position-y: -120px;
    }
    /* y축은 세로크기를 마이너스로 씀 */
}

/**************** 2.메인영역 ****************/
/* 속박스 */
.cont{
    position: relative;
    /* 부모자격 - .screen */
    /* 비율설정 */
    aspect-ratio: 1200/788;
    /* height: 788px; */
    /* 극장배경 넣기 */
    background: url(../images/bg.jpg) no-repeat center top/100%;
}
/* 2-1.스크린 */
.screen{
    position: absolute;
    top: 17.1%;
    left: 21.3%;
    width: 58.6%;
    height: 50.6%;
    background-color: #000;
}
/* 유튜브 아이프레임 */
.screen iframe{
    /* 화면채우고 보더없앰 */
    width: 100%;
    height: 100%;
    border: none;
}

/* 2-2.예고편 선택메뉴 */
.mlist{
    position: absolute;  
    bottom: 5%;
    left: 50%;
    width: 60%;
    transform: translateX(-49%);

    /* 앱솔루트 부모자격이 있는 요소의
    overflow가 적용됨! */
    /* overflow: hidden; */

}
/* 선택메뉴 ul */
.mlist ul{
    /* 플렉스박스 */
    display: flex;
    /* 진행방향정렬 : 양쪽끝 맞춘후 사이간격일정 */
    justify-content: space-between;
    /* 원근 3D적용 -> 보이는 화면 높이값이 50% */
    perspective: 50vh;
}
.mlist ul>li+li{
    margin-left: 1.5%;
}
/* 선택메뉴 상위li */
.mlist ul>li{
    position: relative;
    /* 부모자격 .movtxt */
    overflow: hidden;
    flex: 1;
    /* 등분할 */

    /* x축회전 적용하기 */
    transform: rotateX(30deg);
    transition: .4s;
    /* 회전축변경 - 하단 */
    transform-origin: bottom;
}
/* 마우스오버시 + 클래스"on"적용시 
포스터 일어나기 */
.mlist ul>li:hover,
.mlist ul>li.on{
    /* x축 회전 */
    transform: translateX(0);
    /* 다른li보다 위에오게 */
    z-index: 1;
    /* 테두리 생김 */
    outline: 1px solid aqua;
}
/* 포스터 이미지 */
.mlist img{
    width: 100%;
    /* height: 140px; */
}

/* 영화정보박스 */
.movtxt{
    /* 플렉스박스 */
    display: flex;
    /* 플렉스 진행방향 */
    flex-direction: column;
    /* 진행방향정렬 : 중앙 */
    justify-content: center;

    /* 앱솔루트 포지션 */
    position: absolute;
    top: 100%;
    width: 100%;
    height: 100%;
    /* 부모는 ? 싸고있는 li */
    text-align: center;
    background-color: rgba(0, 0, 0, 0.7);

    /* 글자셋팅 */
    font-family: 'Cute Font', cursive;
    font-size: min(14px,1.1vw);
    line-height: 2;

    /* 트랜지션: 속시이지 */
    transition: 
    top .5s cubic-bezier(0.72, 0.1, 0.28, 0.86);
}
/* 상위li에 마우스 오버시 영화정보 올라오기 */
.mlist ul>li:hover .movtxt{
    top: 0;
}

/* 영화정보박스 제목만 변경 */
.movtxt li:first-child{
    font-size: min(17px,1.2vw);
    color: aqua;
    white-space: nowrap;
}


/**************** 3.하단영역 ****************/
.info{
    height: 100px;
    /* 플렉스박스 */
    display: flex;
    /* 수직방향정렬 */
    align-items: center;
}

/* 3-1. 로고 */
.logo{
    margin-right: 20px;
}
/* 3-2. 회사정보 */

.corp address{
    color: #eee;
    font-family: 'Cute Font', cursive;
    font-style: normal;
    line-height: 2rem;
    font-size: 1.8rem;
}
/* 3-3. sns */
.sns{
    /* 오른쪽 끝에위치 */
    margin-left: auto;
}
.sns ol{
    display: flex;
}
.sns li{
    width: 34px;
    height: 34px;
    outline: 1px solid white;
}
/* li 사이간격 */
.sns li+li{
    margin-left: 5px;
}
/* a확장 */
.sns a{
    display: block;
    width: 100%;
    height: 100%;
    font-size: 34px;
    text-align: center;
}

/* sns오버시 글자색 */

/* 페북 */
.sns a[class$=facebook]:hover{
    color: lightblue;
}
/* 트위터 */
.sns a[class^='fa-brands fa-square-t']:hover{
    color: cornsilk;
}
/* 인스타 */
.sns a[class*=insta]:hover{
    color: violet;
}
/************************************** 
    속성선택자: [속성명] 
    - 속성명의 특정값을 비교하는 3가지 방법
    1. [속성명=값] -> 정확히 일치하는 값
    2. [속성명*=값] -> 값 내용중 있기만하면 찾음
    3. [속성명^=값] -> 값내용이 시작하는 문자열 찾음
    4. [속성명$=값] -> 값내용이 끝나는 문자열 찾음

    - 별은 하늘에 있고 모두가 볼 수 있다. *= 모든일치 내용
    - 시작할떄는 웃으면서 시작 ^= 시작하는 내용
    - 끝날때는 돈받고 끝나라 $= 끝나는내용

    - 사용하는 문자열에 문제가 없다면 따옴표를 쓰지 않아도 된다
    but 띄어쓰기, 특수문자 등이 있다면 ' ' 따옴표를 사용
**************************************/

.gmap{
    position: fixed;
    width: 600px;
    height: 450px;
    background-color: #fff;
    /* 정중앙이동 */
    top: -50%;
    /* 처음에 위로숨겨놓기 */
    left: 50%;
    transform: translate(-50%, -50%);
    border: 20px solid goldenrod;
    border-radius: 10px;
    z-index: 999;
    /* 트랜지션 속시이지 */
    transition: top 0.8s ease-in-out;
}
/* 구글맵에 클래스 "on" 적용시 등장하기 */
.gmap.on{
    top: 50%;
}
.cbtn {
    position: absolute;
    top: 0;
    right: 5px;
    font-size: 40px;
    font-weight: bold;
    line-height: 40px;
    width: 40px;
    height: 40px;
    background-color: transparent;
    border: none;
    cursor: pointer;
}