@charset "utf-8";
/* cgv 메인페이지*/

/* 외부CSS 가져오기 */
@import url(./core.css);
@import url(./reset.css);


/* 공사중표시 */
body * {
    outline: 2px dashed ghostwhite;
}

/* 전체배경 */
body{
    background-color: #000;
}
/**************** 1. 상단영역 ****************/
/* 속박스 */
.top{
    position: relative;
    /* 부모자격 .GNB */
    height: 80px;
    /* 배경이미지 */
    background: url(../images/curtain.jpg) repeat-x;
}
/* 1-1. 로고 */
.tit{
    font-family: 'Jua', sans-serif;
    color: aquamarine;
    font-size: 40px;
    line-height: 80px;
    text-align: center;

    /* 글로우 효과 */
    text-shadow: 0 0 4px aquamarine;
    /* 애니메이션 : 이시이지반방마*/
    animation: titani .5s ease-in infinite alternate;

}
/* 타이틀 글로우 효과 애니메이션 키프레임 */
@keyframes titani {
    to{
        text-shadow: 0 0 12px aquamarine;
    }
}/*키프레임*/

/* 1-2. GNB 메뉴 */
.gnb{
    position: absolute;
    bottom: 0;
    right: 0;
}
/* ul박스 */
.gnb ul{
    display: flex;
}
/* 상위li */
/* 두번째 li부터 라는 소리 */
.gnb ul>li+li{
    margin-left: 10px;

}
/* 상위메뉴 */
.gnb ul>li>a{
    font-family: 'Jua', sans-serif;
    font-size: 2rem;
}
/**************** 2. 메인영역 ****************/
/* 속박스 */
.cont{
    position: relative;
    /* 부모자격 .screen */
    height: 788px;
    /* 극장배경 넣기 */
    background: url(../images/bg.jpg) no-repeat center/100%;
}
/* 2-1. 스크린 */
.screen{
    position: absolute;
    top: 136px;
    left: 255px;
    width: 706px;
    height: 400px;
    background-color: rgb(0, 0, 0);
}
/* 유튜브 아이프레임 */
.screen iframe{
    /* 화면채우고 보더 없앰 */
    width: 100%;
    height: 100%;
    border: none;
}

/* 2-2. 예고편 선택메뉴 */
.mlist{
    position: absolute;
    width: 702px;
    bottom: 61px;
    left: 50%;
    transform: translateX(-49%);

    /* 앱솔루트 부모자격이 있는 요소의
    overflow 가 적용됨 */
    overflow: hidden;
}
/* 선택메뉴 ul  */
.mlist ul{
    /* 플렉스박스 */
    display: flex;
    /* 진행방향정렬 */
    justify-content: space-between
}
/* 선택메뉴 상위 li */
.mlist ul>li{
   
}
/* 포스터 이미지 */
.mlist img{
    width: 99px;
    height: 140px;
}

/* 영화정보박스 */
.movtxt{
    display: flex;
    /* 진행방향 */
    flex-direction: column;
    /* 진행방향 중앙 */
    justify-content: center;
    /* 앱솔루트포지션 */
    position: absolute;
    width: 99px;
    height: 140px;
    top: 100%;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.493);

    /* 글자셋팅 */
    font-family: 'Cute Font', cursive;
    font-size: 14px;
    line-height: 2;

    /* 트랜지션 속시이지  */
    transition: top .5s ease-out;
}
/* 상위 li에 마우스 오버시 영화정보 올라오기 */
.mlist ul>li:hover .movtxt{
    top: 0;
}
/**************** 3. 하단영역 ****************/
.info{
    height: 100px;
}