@charset "utf-8";
/* 큐브트립 메인 CSS - main.css */

/* 웹폰트 */
@import url('https://fonts.googleapis.com/css?family=Black+And+White+Picture|East+Sea+Dokdo|Jua&display=swap');
/*
    font-family: 'Black And White Picture', sans-serif;
    font-family: 'East Sea Dokdo', cursive;
    font-family: 'Jua', sans-serif;
*/

/* 변수셋팅 
:root { --작명 : 수치 } */
:root{
    /* 큐브공통크기 */
    --csz: 300px;
}

/* 초기화 */
html,body,h1,ul,li{
    margin: 0;
    padding: 0;
}
body{
    height: 100vh;
    background-image: linear-gradient(to bottom, #777 30%, #ccc 70%);
}

/* 1. 전체 제목 */
.tit{
    text-align: center;
    font-family: 'Black And White Picture', sans-serif;
    color: #fff;
    font-weight: normal;
    font-size: 60px;
    padding-top: 50px;
    background: url(../images/citybg.png) no-repeat center 20px/auto 85%;
}
/* 2. 메뉴 버튼 */
.city {
    position: fixed;
    top: 50px;
    right: 50px;
}
.city ul{
    width: 200px;
    list-style: none;
    perspective: 50vw;
}
.city ul li{
    height: 10vh;
    /* 보이는 화면의 10% -> 6개의 메뉴 = 전체의 60% */
    background-image: linear-gradient(to right, transparent,blue);
    /* 축변경 */
    transform-origin: right;
    transition: .3s;
}
/* li에 오버시 y축 회전 */
.city li:nth-child(1):hover{
    transform: rotateY(20deg);
    background-image: linear-gradient(to right, transparent,rgb(199, 255, 94));
}
.city li:nth-child(2):hover{
    transform: rotateY(-40deg);
    background-image: linear-gradient(to right, transparent,rgb(140, 222, 255));
}
.city li:nth-child(3):hover{
    transform: rotateY(30deg);
    background-image: linear-gradient(to right, transparent,rgb(255, 15, 183));
}
.city li:nth-child(4):hover{
    transform: rotateY(-20deg);
    background-image: linear-gradient(to right, transparent,rgb(255, 60, 0));
}
.city li:nth-child(5):hover{
    transform: rotateY(15deg);
    background-image: linear-gradient(to right, transparent,rgb(255, 60, 86));
}
.city li:nth-child(6):hover{
    transform: rotateY(-20deg);
    background-image: linear-gradient(to right, transparent,rgb(255, 250, 175));
}
.city a{
    display: block;
    text-decoration: none;
    width: 100%;
    height: 100%;
    font : 52px/10vh 'East Sea Dokdo', cursive;
    color: #fff;
    text-align: center;
}
/* 3. 큐브 박스 */

/* 큐브 */
.cube{
    position: absolute;
    top:calc(50% - var(--csz)/2);
    left:calc(50% - var(--csz)/2);
    /* 정중앙 계산 : 50% - 크기의 절반 
    calc() 연산시 주의사항 
    -> +,- 는 기호앞뒤 띄어쓰기
    -> * , / 는 붙여써도됨
    */
    width: var(--csz);
    height: var(--csz);

    /*  
        [ 입체로 설정하기 ]
        - 입체로 설정할 요소의 부모박스에 아래와같이 설정한다.
        (부모는 싸고있는요소)
        transform-style: preserve-3d;
        - 기본값은 2D설정인 flat
        - preserve-3d 3D설정임
    */

    transform-style: preserve-3d;

    /* 입체를 잘보이게 하기위해 약간 회전 */
    transform: rotateX(10deg) rotateY(30deg);

    /* outline: 2px dotted red; */
}

/* 큐브각면 공통 */
.cube span{
    position: absolute;
    /* 앱솔루트는 자동블럭 */
    width: 100%;
    height: 100%;
    /* 부모는 .cube */

    /* 투명도 */
    opacity: .8;
    outline: 1px solid rgba(0, 0, 0, 0.384);
}

/* 1. 앞면 */
.cube span:nth-child(1){
    background: url(../images/newyorkCity.jpg) no-repeat right/auto 105%;

    /* 화면방향(z축) */
    transform: translateZ(calc(var(--csz)/2));
    /* cube사이즈 절반을 앞쪽으로 이동 */
}
/* 2. 오른면 */
.cube span:nth-child(2){
    background: url(../images/seoulCity.jpg) no-repeat center/cover;

    /* 화면방향(z축) */
    transform: 
    rotateY(90deg)
    translateZ(calc(var(--csz)/2));
    /* y축으로 90도 돌리고 z축으로밀어줌 */
}
/* 3. 뒷면 */
.cube span:nth-child(3){
    background: url(../images/parisCity.jpg) no-repeat center/cover;

    /* 화면방향(z축) */
    transform: 
    rotateY(180deg)
    translateZ(calc(var(--csz)/2));
    /* y축으로 180도 돌리고 z축으로밀어줌 */
}
/* 4. 왼면 */
.cube span:nth-child(4){
    background: url(../images/cityMain.jpg) no-repeat center/cover;

    /* 화면방향(z축) */
    transform: 
    rotateY(270deg)
    translateZ(calc(var(--csz)/2));
    /* y축으로 270도 돌리고 z축으로밀어줌 */
}
/* 5. 윗면 */
.cube span:nth-child(5){
    background: url(../images/citys.jpg) no-repeat center/100% 120%;

    /* 화면방향(z축) */
    transform: 
    rotateX(90deg)
    translateZ(calc(var(--csz)/2));
    /* x축으로 180도 돌리고 z축으로밀어줌 */
}
/* 6. 밑면 */
.cube span:nth-child(6){
    background: url(../images/London_city.jpg) no-repeat center/cover;

    /* 화면방향(z축) */
    transform: 
    rotateX(270deg)
    translateZ(calc(var(--csz)/2));
    /* x축으로 270도 돌리고 z축으로밀어줌 */
}

/* 큐브회전 클래스 */
.cube-ani{
    /* 애니메이션 이시이지반방마 */
    animation: cubeAni 4s linear infinite;
    /* 애니메이션 처음에 멈춰있기 */
    animation-play-state: paused;
}
/* 큐브회전 작동 클래스 + .on */
.cube-ani.on{
    /* 애니메이션 작동하기 */
    animation-play-state: running;
}


/* 큐브회전 키프레임 */
@keyframes cubeAni {
    to{
        /* x축 양의방향, y축 음의방향 */
        transform: 
        rotateX(370deg) rotateY(-330deg);
        /* 
            x축 양의 방향으로 10도 에서 출발 
            양의방향 360도 + 10도 => 370도
            음의방향 -360도 + 10도 => -350도
            ______________________________

            y축 양의 방향으로 30도 에서 출발 
            양의방향 360도 + 30도 => 390도
            음의방향 -360도 + 30도 => -330도
        */
        /* rotateX(370deg) rotateY(-330deg) rotateZ(360deg); */
        /* z축회전도 적용할 수 있음. */
    }
}